{
    "schema_version": 1,
    "id": "7133d0da-dc59-4fc8-9709-44f3c680f9d5",
    "version": 1,
    "name": "N-BK7",
    "manufacturer": Some("Schott"),
    "description": Some("borosilicate crown glass"),
    "optical": (
        refractive_index: Sellmeier1((
            coefficients: (
                k1: 1.03961212,
                k2: 0.231792344,
                k3: 1.01046945,
                l1: 0.00600069867,
                l2: 0.0200179144,
                l3: 103.560653,
            ),
            wvl_range: (
                start: 0.00000030000000000000004,
                end: 0.0000022999999999999996,
            ),
        )),
        absorption: r#None,
    ),
}